p {
    margin: 0;
}
.px {
    font-size: 30px;
}
.cm {
    font-size: 2cm;
}
.mm {
    font-size: 200mm;
}
.in {
    font-size: 3in;
}
.pt {
    font-size: 8pt;
}
.pc {
    font-size: 2pc;
}
.em {
    font-size:20px;
}
.em span {
    font-size: 2em;
}
.ex {
        font-size: 6ex;

}
.rem {
        font-size: 13rem;

}
.percent {
    font-size:200%;
}
.vh {
    font-size: 5vh;
}
.vw {
    font-size: 8vw;
}
.vmin {
    font-size: 7vmin;
}
.vmax {
    font-size: 11vmax;
}
