div {
    background:url("../images/sprite.jpg") no-repeat;
    border:1px solid;
    width:80px;
    height: 80px;
    display: inline-block;
}
.icon1 {
    background-position: -11px -11px;
}
.icon1:hover {
    background-position: -11px -94px;
}
.icon2 {
    background-position: -94px -11px;
}
.icon3 {
    background-position: -177px -11px;
}
.icon4 {
    background-position: -260px -11px;
}
